.container {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    backdrop-filter: blur(1px);
}
.ring {
    display: inline-block;
    width: 200px;
    height: 200px;
    position: relative;
}
.ring:after {
    position: absolute;
    content: " ";
    display: block;
    width: 128px;
    height: 128px;
    top: 15%;
    left: 15%;
    border-radius: 50%;
    border: 6px solid #cef;
    border-color: #cef transparent #cef transparent;
    animation: ring 1600ms linear infinite;
}
@keyframes ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
